.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
}

.modal-window {
    border-radius: 25px;
    background-color: #464849;
    color: #fff;
    width: 50%;
    margin: 10% auto;
}
header {
    padding-top: 10px;
    text-align: center;
    font-size: 24px;
}

.body {
    box-sizing: border-box;
    border: none;
    border-top: 1px solid rgb(121, 117, 117);
    border-bottom: 1px solid rgb(121, 117, 117);
    margin: 10px;
    padding: 10px;
}

footer {
    text-align: center;
}

.btn {
    border: 2px solid #fff;
    color: #fff;
    background: rgba(0,0,0,0);
    margin-bottom: 10px;
    font-family: monospace;
    padding: 5px 7px;
}

#closeBtn{
    cursor: pointer;
}