:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 20%;
    background-color: rgba(0, 0, 0, .5);
}

.header {
    height: 10vh;
    font-size: 2.5em;
    text-align: center;
    padding: 5px 0;
}

.header a {
    color: #fff;
    text-decoration: none;
}